.bannerrogerio {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .bannerrogerio {
    display: none;
  }
}

@media (max-width: 768px) {
  .container_16 .prefix_2 {
    padding-left: 0px;
  }
}

.titulonoticia h1 {
  font-size: 54px;
  line-height: 60px;
  font-weight: bold;
  color: #231f20;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media (max-width: 768px) {
  .titulonoticia h1 {
    font-size: 28px;
    line-height: 28px;
    width: 40%;
  }
}
.titulonoticia h2 {
  font-weight: normal;
  margin-top: 15px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .titulonoticia h2 {
    width: 40%;
  }
}

.descricaonoticia {
  padding: 20px 0;
  width: 100%;
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .descricaonoticia {
    padding: 15px 0;
  }
}
.descricaonoticia strong {
  color: #231f20;
  font-size: 13px;
}
@media (max-width: 768px) {
  .descricaonoticia strong {
    font-size: 14px;
  }
}
.descricaonoticia span {
  color: #231f20;
  text-transform: none;
  font-size: 13px;
}
@media (max-width: 768px) {
  .descricaonoticia span {
    font-size: 14px;
  }
}
.descricaonoticia small {
  display: block;
  font-size: 12px;
}
@media (max-width: 768px) {
  .descricaonoticia small {
    font-size: 11px;
  }
}

.compartilhar {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.compartilhar svg {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  border-radius: 4px;
}

.telegram {
  fill: #08c;
}

.facebook {
  fill: #416ff1;
}

.whatsapp {
  fill: #3eb43e;
}

.twitter {
  fill: #489ef1;
}

.compartilhar {
  fill: #9aa0ad;
}

#audio {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
@media (max-width: 768px) {
  #audio {
    width: 40%;
    margin-top: 0px;
  }
}

#audiotext {
  width: 330px;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%);
  text-align: center;
  margin-bottom: 3px;
}

#audiomeouca {
  font-size: 13px;
  color: #000 !important;
  cursor: pointer;
}

#audiomelink {
  font-size: 13px;
  color: #000 !important;
  cursor: pointer;
}

#audioplayer {
  border: 1px solid #ccc;
  width: 330px;
  height: 50px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%);
  overflow: hidden;
}

.buttonicon {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: black;
}

#audiobutton {
  width: 12%;
  margin-top: 9px;
}

#audioprogressbar {
  border: 0 solid #ccc;
  position: absolute;
  width: 280px;
  height: 30px;
  right: 10px;
  top: 9px;
  float: left;
}

#audioprogressbaralpha {
  border: 0 solid #ccc;
  position: absolute;
  background-color: #fff;
  width: 280px;
  height: 30px;
  right: 10px;
  top: 9px;
  float: left;
  opacity: 0.7;
  cursor: pointer;
}

.audiomeProgressBarItem {
  width: 3px;
  background-color: #ccc;
  float: left;
  margin-left: 1px;
  border-radius: 0;
  margin-top: 15px;
  transform: translate(-50%, -50%);
}

.border {
  border-top: 1px solid #dee0e6;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .border {
    display: none;
  }
}

.imgpadrao {
  margin-left: 80px;
}

.imghome {
  width: 1100px;
  height: 650px;
  margin-top: -135px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .imghome {
    width: 372px;
    height: 279px;
    margin-left: -80px;
  }
}

.legendaFoto {
  color: #9aa0ad;
  margin-left: 0px;
  font-size: 12px;
}

.textoarea {
  font-size: 20px;
  position: relative;
  color: #231f20;
  margin-top: 20px;
}
.textoarea p {
  margin-bottom: 30px;
  line-height: 36px;
  display: block;
}

.compartilhartext {
  width: 100%;
  text-align: right;
  overflow: hidden;
  margin-bottom: 60px;
}
.compartilhartext a.reportar {
  width: auto;
  border: 1px solid #dee0e6;
  float: left;
  padding: 4px 10px 4px 8px;
  margin: 0;
  color: #231f20;
  line-height: 18px;
  font-size: 12px;
}
.compartilhartext .reportar {
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 8px;
}
.compartilhartext svg {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  border-radius: 4px;
}

.textnoticia small {
  color: #d7a110;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.textnoticia h3 {
  font-weight: 600;
  color: #231f20;
  width: 100%;
  font-size: 18px;
  margin: 0px;
}

.menoresvejabem {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 50px;
}
.menoresvejabem img {
  width: 194px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menoresvejabem .newsv {
  margin-right: 15px;
}

.textmenoresvejabem {
  margin-top: -10px;
}
.textmenoresvejabem small {
  color: #d7a110;
  width: 100%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.textmenoresvejabem h3 {
  font-weight: 600;
  color: #231f20;
  width: 100%;
  font-size: 16px;
  margin-top: 0px;
}

.listagemcoluistas {
  list-style: none;
  margin-top: 45px;
  margin-left: -35px;
}
.listagemcoluistas img {
  width: 69px;
  border-radius: 100%;
}
.listagemcoluistas li {
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid #dee0e6;
  border-radius: 6px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.listagemcoluistas small {
  color: #d7a110;
  width: 100%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.listagemcoluistas h3 {
  font-size: 24px;
  width: 90%;
}
.listagemcoluistas .colunsitacanto {
  margin-left: 20px;
}

.meiocolunadetalhe {
  margin-top: 285px;
}

.tittleblog {
  position: relative;
  color: #231f20;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 32px;
  padding-left: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.tittleblog strong {
  color: #d7a110;
  font-weight: 600;
}
@media (max-width: 768px) {
  .tittleblog {
    font-size: 25px;
    width: 50%;
  }
}
.tittleblog svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  vertical-align: middle;
  fill: #d7a110;
  margin-right: 10px;
}

.boxborda {
  border: 1px solid #dee0e6;
  overflow: hidden;
  border-radius: 6px;
  margin: 0 -31px;
  padding: 40px 30px;
}

.colunistascapa.detalhe.boxborda {
  display: block;
  margin: 0;
  padding: 20px;
}

.playercolunistas {
  width: calc(100% + 20px);
  margin-top: 10px;
  display: flex;
}

.imgcolunistas {
  border-radius: 100%;
  width: 66px;
}

.textcolunistas {
  margin-left: 10px;
}
.textcolunistas small {
  font-weight: normal;
  text-transform: uppercase;
  color: #d7a110;
  display: block;
}
.textcolunistas h3 {
  color: #231f20;
  font-weight: 600;
  line-height: 18px;
  width: 80%;
}

.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
    margin-left: -80px;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .mobile .mobiletext {
    margin-left: 10px;
    width: 100%;
    align-self: center;
  }
}
.mobile img {
  width: 69px;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .mobile img {
    width: 94px;
    height: 94px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.mobile li {
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid #dee0e6;
  border-radius: 6px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .mobile li {
    height: 110px;
  }
}
.mobile small {
  color: #d7a110;
  width: 100%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.mobile h3 {
  font-size: 24px;
  width: 90%;
}
.mobile .colunsitacanto {
  margin-left: 20px;
}/*# sourceMappingURL=detailnews.css.map */