@import "1280_16_10_10";

body {
    font-family: "IBM Plex Sans", sans-serif;

    @media (max-width: 768px) {
        min-width: auto;
        margin: 0px;
    }
}

.html,
body {
    overflow-x: hidden;
}

.container_16 {
    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
        margin-top: 10px;
        overflow-x: hidden
    }
}



#Camada_1 {
    width: 20px;
    height: 20px;
    fill: #08c;
    //padding-bottom: 5px;
}

.fone {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 5px;

    .entrar {
        text-decoration: none;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.loginarea a {
    text-decoration: none;
    margin-left: 13px;

    @media (max-width: 768px) {
        display: none;
    }


}

.assinar {
    padding: 15px 20px;
    line-height: 20px;
    font-weight: bold;
    color: #231f20;
    background: #f7d637;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;

}

.menubuscaright {

    border-radius: 6px;
    vertical-align: middle;
    margin-left: 15px;
    display: inline-block;
    height: 47px;


    @media (max-width: 768px) {
        margin-right: -10px;
        margin-left: 35px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #dee0e6;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        height: 23px;
    }
}

.menubusca {
    border-radius: 6px;
    vertical-align: middle;
    margin-left: 15px;
    display: inline-block;
    height: 47px;
    border: 1px solid #dee0e6;



    @media (max-width: 768px) {
        margin-left: -4px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #dee0e6;
        margin-right: 30px;
    }

    span {
        padding-left: 5px;

        @media (max-width: 768px) {
            padding-left: 2px;
        }

    }

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        height: 23px;
    }

    .menuicon {
        height: 46px;
        padding: 10px 15px;
        position: relative;
        z-index: 5;
        margin: 0;
        font-weight: bold;
        color: #231f20;
        line-height: 26px;
    }

    .formbusca {
        position: relative;
        height: 46px;
        width: 60px;
        z-index: 5;
        display: inline-block;
        border-left: 1px solid #dee0e6;
        margin-left: 20px;
        cursor: pointer;

        @media (max-width: 768px) {
            display: none;
        }

    }
}

.formbuscamobile {
    display: none;

    @media (max-width: 768px) {
        float: right;
        height: 46px;
        width: 60px;
        display: block;
        margin-right: -10px;
    }
}

.botaomobile {
    margin-left: -5px;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    margin-top: 12px;
    margin-left: 10px;
    color: black;
    scale: 1.1;

}

header.headersite .topocontent {
    width: 100%;
    padding: 16px 0px;
    position: relative;
    overflow: hidden;
    z-index: 4;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        padding: 0px;
    }
}

.headersite {
    margin-top: 5px;
}

.leiaJornal {
    width: 215px;
    text-align: right;
    vertical-align: middle;
    float: right;
    display: flex;
    margin-right: 42px;

    @media (max-width: 768px) {
        display: none;
    }

    img {
        border-radius: 6px;
        width: 112px;
        vertical-align: middle;
        height: 150px;
        border: 1px solid #dee0e6;

        @media (max-width: 768px) {
            display: none;
        }
    }

    div {
        width: 100px;
        padding-right: 10px;
        vertical-align: middle;

        @media (max-width: 768px) {
            display: none;
        }
    }

    strong {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        color: #231f20;
        margin-bottom: 8px;
        font-size: 14px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    span {
        display: block;
        font-weight: 600;
        color: #34343e;
        font-size: 12px;
        text-transform: none;

        @media (max-width: 768px) {
            display: none;
        }
    }

    small {
        display: block;
        color: #9aa0ad;
        font-size: 12px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.bordajornal {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 30px 20px;
        padding-right: 58px;
        border-top: 1px solid #dee0e6;
        border-bottom: 1px solid #dee0e6;
    }
}

.leiajornalmobile {
    display: none;

    @media (max-width: 768px) {
        width: 100%;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        border-radius: 6px;
        width: 150px;
        vertical-align: middle;
        height: auto;
        border: 1px solid #dee0e6;
    }
}

.botaojornal {
    margin-left: 60px;

    a {
        display: grid;
    }

    strong {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        color: #231f20;
        margin-bottom: 8px;
        font-size: 16px;
        width: 148%;
    }

    span {
        color: #34343e;
        text-transform: none;
    }

    .btLer {
        display: inline-block;
        width: 90%;
        line-height: 14px;
        color: #231f20;
        background: #f7d637;
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 6px;
        font-weight: bold;
        text-transform: none;
        font-size: 14px;

        span {
            width: 100%;
        }

        a {
            background: #f5eb32;
        }
    }
}




.nav-bar {
    --tw-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    content: var(--tw-content);

    @media (max-width: 768px) {
        height: 40px;
        display: none;
    }



    ul {
        display: flex;
        list-style: none;
        width: 100%;
        color: #1A72B4;
    }

    li {
        margin-left: 19px;
        font-size: 12px;
        margin-bottom: 17px;
        font-weight: 500;

        @media (max-width: 768px) {
            display: none;
        }

    }
}

.midias {
    margin-left: 12px;

    @media (max-width: 768px) {
        display: none;
    }

    svg {
        margin-left: 5px;
    }

    a {
        text-decoration: none;
    }

    .bordermidias {
        border-bottom: 1px solid #dee0e6;
        width: 985px;
        height: 2px;
    }


}

.facebook svg {
    width: 20px;
    height: 20px;
    fill: #416ff1;
    //padding-bottom: 5px;

}

.youtube svg {
    width: 20px;
    height: 20px;
    fill: #d52831;
    //padding-bottom: 5px;

}

.instagram svg {
    width: auto;
    height: 14px !important;
    fill: #fff;
    background: linear-gradient(45deg, rgb(254, 201, 30) 0%, rgb(237, 0, 23) 50%, rgb(190, 0, 165) 100%);
    padding: 3px;
    border-radius: 4px;
    //margin-bottom: 5px;

}

.twitter svg {
    width: 20px;
    height: 20px;
    fill: #489ef1;
    //padding-bottom: 5px;


}

.loginarea {
    border-left: 1px solid #dee0e6;
    margin: -16px 34px -10px 191px;
    height: 34px;
    border-bottom: 1px solid #dee0e6;
    padding-bottom: 7px;

    @media (max-width: 768px) {
        display: none;
    }

    strong {
        color: #231f20;
        margin-bottom: 5px;
        font-size: 11px;
        display: inline-block;
        width: 80px;
        text-align: right;
        vertical-align: middle;
        margin-right: 10px;
    }

    .radio {
        color: #231f20;
        font-size: 10px;
    }

    span {
        width: 70px;
    }
}

header.headerSite .head .grid_6 .loginArea .entrar {
    padding: 0 20px;
    line-height: 20px;
    font-weight: bold;
    color: #231f20;
}

.menutopo {
    border-top: 3px solid #f7d637;
    position: relative;

    .scrollmenu {
        margin-bottom: 10px;

        @media (max-width: 768px) {
            overflow: hidden;
        }


        li {
            padding: 0px 30px;

            @media (max-width: 768px) {
                padding: 31px;
                font-size: 14px;
            }
        }

        ul {
            display: inline-flex;
            width: 95%;
            justify-content: center;
            list-style: none;
            align-items: center;
            height: 5px;
            color: #231f20;
            font-weight: 400;

            @media (max-width: 768px) {
                width: max-content;
                padding: 0 10px;
                transition: transform 0.5s ease-in-out;


            }
        }
    }
}

ul,
li {
    position: relative;
    cursor: pointer;
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 15px;
        margin-left: -1px;
    }


}


.icontopo {
    display: none;

    @media (max-width: 768px) {
        display: block;
        padding-top: 0px;

        svg {
            width: 100%;
        }
    }
}

.menutopo ul li:hover {
    color: #d7a110;
}

.menutopo ul li::after {
    content: "•";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);


    @media (max-width: 768px) {
        content: "•";
        display: block;
        position: absolute;
        right: -9px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.menutopo ul li:last-child::after {
    content: "";
}

.img_ad {


    @media (max-width: 768px) {
        width: 80%;
    }
}

.bannertopo {

    img {
        width: 75%;
    }

    height: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#9aa0ad 20%, transparent 20%),
    radial-gradient(#9aa0ad 20%, transparent 20%);
    background-color: #fff;
    background-position: 0 0,
    5px 5px;
    background-size: 5px 5px;

    @media (max-width: 768px) {
        display: none;
    }
}

.spacer {
    border-bottom: 1px solid #dee0e6;
    margin-top: 10px;
    width: 1260px;
    margin-left: 10px;

    @media (max-width: 768px) {
        height: 100px;
        margin-top: 0px;
        width: 95%;
    }
}

.grid_8 {

    h1 {
        @media (max-width: 768px) {
            margin: 0px;
            width: 100%;
        }
    }

}

img {
    width: auto;

    @media (max-width: 768px) {
        width: 286px;
    }
}

.logofolha {
    width: 600px;
    margin: -60px 45px;

    @media (max-width: 768px) {
        width: 150%;
        margin: 0px -45px;
        padding-right: 10px;
    }
}


.capahome {
    height: 1400px;

    .chapeu {
        text-transform: uppercase;
        color: #d7a110;
        font-size: 20px;
        line-height: 22px;

        @media (max-width: 768px) {
            font-size: 16px;
            margin-left: 115px;
        }
    }
}

h1 {
    font-size: 44px;
    font-weight: 600;
    color: #231f20;
    width: 90%;
    line-height: 46px;
    margin-left: 65px;
    margin-top: 5px;

    @media (max-width: 768px) {
        font-size: 18px;
        margin: 30px -180px;
        width: 23%;
        line-height: normal;
    }
}

a {
    text-decoration: none;
}


.noticiaLink.manchete {
    text-align: center;

    @media (max-width: 768px) {
        text-align: unset;
    }
}

.noticiaLink {
    position: relative;
    width: 100%;
    vertical-align: top;
}

.noticiaLinknews {

    @media (max-width: 768px) {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        vertical-align: top;
    }
}


.container_16 .suffix_1 {
    padding-right: 10px;
}

.container_16 .prefix_1 {
    padding-left: 10px;
    margin-top: 35px;
}

.grid_6 {
    img {
        width: 100%;
        border-radius: 4px;
        display: block;

        @media (max-width: 768px) {
            width: 375px;
            height: 240px;
        }
    }

    .relacionado {
        margin-top: 10px;

    }

    small {
        width: 100%;
        text-transform: uppercase;
        font-weight: normal;
        color: #d7a110;
        font-size: 15px;
    }

    .relacionado a:hover {
        color: #d7a110;
    }

    .relacionadotext {
        font-weight: bold;
        color: #231f20;
        width: 100%;
        margin: 0px;

        @media (max-width: 768px) {
            width: 80%;
        }
    }

    .news {
        font-size: 20px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    a {
        font-weight: bold;
        font-size: 15px;
        color: #231f20;
        margin: 0px;
        padding-bottom: 7px;
    }

    .noticiasrelacionados {
        ul {
            padding-left: 0px;
            margin-top: 15px;

            @media (max-width: 768px) {
                margin-left: 0px;
            }

        }

        li {
            list-style: none;
            display: inline-flex;

            @media (max-width: 768px) {
                margin-left: 0px;
            }
        }

        svg {
            height: 30px;
            width: 16px;
            fill: #d7a110;
            margin-right: 10px;
        }

        h3 {
            font-weight: normal;
            color: #34343e;
            font-size: 20px;
            margin-bottom: 10px;
            margin: 5px;

            @media (max-width: 768px) {
                width: 80%;
            }


        }
    }
}

.news_left {
    padding-left: 0px;
    display: inline-flex;

    @media (max-width: 768px) {
        display: inline-grid;
        margin-left: 0px;
    }
}


.grid_4 {
    margin-left: 5px;

    @media (max-width: 768px) {
        display: flex;
        margin-bottom: 10px;
    }
}

.newsfleftext {

    @media (max-width: 768px) {
        margin-left: 10px;
    }

}


img {
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;

    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

span {
    color: #d7a110;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

h3 {
    margin-top: 3px;
    color: #231f20;
    font-size: 16px;

    @media (max-width: 768px) {
        margin-top: 3px;
        color: #231f20;
        font-size: 16px;
        width: 260px;
    }
}


.grid_4 {
    float: right;

    @media (max-width: 768px) {
        padding: 0px;
        margin-bottom: 10px;
        width: 0;
    }

    .banner {

        @media (max-width: 768px) {
            margin-left: 40px;
            margin-top: 45px;
            width: 300px;
        }
    }



    .maislidas {
        h2 {
            font-size: 22px;
            line-height: 26px;
            font-weight: 600;
            width: 100%;

        }

        .numero {
            display: inline-block;
            width: 15%;
            font-size: 60px;
            color: #34343e;
            font-weight: bold;
            line-height: 57px;
            position: relative;
            top: 0;
            left: 0;
            text-shadow: none;
            transform: none;
            text-align: left;
            padding: 0;
        }

        small {
            color: #d7a110;
            width: 100%;
            text-transform: uppercase;
            font-weight: normal;
        }

        h3 {
            font-weight: 600;
            color: #231f20;
            width: 100%;
            margin-top: 0px;
            font-size: 18px;

            @media (max-width: 768px) {
                width: 310px;
            }

        }

        .text {
            width: 75%;
            display: inline-block;
            vertical-align: top;
        }
    }
}

.bannermeio {
    width: 95%;
    text-align: center;

    img {
        margin-top: 15px;
        margin-bottom: 0px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.borderimage {
    border-bottom: 1px solid #dee0e6;
    padding: 10px;
    margin-bottom: 5px;
    width: 95%;

    @media (max-width: 768px) {
        display: none;
    }
}

.grid_6 {
    .spacerHeader {
        width: 1260px;
        height: 16px;
        display: block;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            width: calc(100% + 40px);
            margin: 0 -30px;
            height: auto;
        }
    }
}

.spacerHeader .st0 {
    fill: #fcd331;
}

.spacerHeader .st1 {
    fill: #fae52c;
}

.spacerHeader .st2 {
    fill: #fcc132;
}

.spacerHeader .st0 {
    fill: #fcd331;
}

.lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px;

    @media (max-width: 768px) {
        display: block;
        margin-left: -20px;
        width: 50%;
    }

    .titlePadrao {
        display: block;
        color: #231f20;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 600;

        @media (max-width: 768px) {
            font-size: 17px;
        }
    }

    a {
        color: #d7a110;
        line-height: 18px;
        text-decoration: none;
        margin-top: 5px;
    }

    ul {
        list-style: none;
        padding: 0px;
        font-size: 14px;
        margin-top: 8px;

    }
}

.borderodpae {
    border-top: 1px solid;
    color: #dee0e6;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        width: 28%;
    }
}

.grid_4 {
    float: left;
    width: 100%;


    .imggtopo {
        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
            border-bottom: unset;
            object-fit: cover;
            margin-bottom: 0px;
        }
    }

    .copy {
        color: #9aa0ad;
        display: block;
        font-size: 12px;
        margin-top: 10px;

        @media (max-width: 768px) {
            width: 100%;
            margin-left: 40px;
            margin-top: 0px;
            font-size: 11px;
        }
    }

    .logo {
        width: 220px;
        height: auto;

    }
}

.footer {
    margin-top: 10px;
    position: relative;

    .imgrodape {
        width: 220px;

        @media (max-width: 768px) {
            margin-left: 80px;
        }


    }
}

footer .footer .grid_4.folhape {
    border-right: 1px solid #dee0e6;
    box-sizing: border-box;

    @media (max-width: 768px) {
        border-right: unset;
        display: block;
    }
}

footer .footer .grid_6.EQM {
    display: flex;
    justify-content: flex-start;
}

#cdr_layer {
    width: auto;
    height: 70px;
    fill: #231f20;

    @media (max-width: 768px) {
        margin-left: 120px;
        margin-top: 10px;
    }
}

.grid_6 {
    .midiasrodape {
        text-align: right;
        display: block;
        margin: 0 0 14px 0;

        @media (max-width: 768px) {
            margin: 30px 165px 14px 0;
            height: 180px;
        }
    }

    #telegram {
        width: 30px;
        height: 30px;
        fill: #08c;
        padding-right: 5px;
    }

    #facebook {
        width: 30px;
        height: 30px;
        fill: #416ff1;
        padding-right: 5px;
    }

    #youtube {
        width: 30px;
        height: 30px;
        fill: #d52831;
        padding-right: 5px;
    }

    #instagram {
        width: 23px;
        height: 23px;
        fill: #fff;
        border-radius: 6px;
        background: linear-gradient(45deg, rgb(254, 201, 30) 0%, rgb(237, 0, 23) 50%, rgb(190, 0, 165) 100%);
        padding: 4px;
        margin-right: 5px;
    }

    #twitter {
        height: 30px;
        width: 30px;
        fill: #489ef1;
        padding-right: 5px;
    }
}

.ass {
    display: flex;
    text-align: right;
    margin-left: 110px;

    @media (max-width: 768px) {
        margin-left: 0px;
    }

    .dev {
        margin: -3px;

        @media (max-width: 768px) {
            margin: 0px;
        }
    }

    span {

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    small {
        color: #9aa0ad;
        margin: 0px 10px 0px 20px;
        vertical-align: bottom;
        font-size: 11px;

        a.dothnews {
            width: 71px;
            height: 9px;
        }
    }
}

.ass a svg {
    fill: #9aa0ad;
    width: 54px;
}

.bordernews {
    border-bottom: 1px solid #dee0e6;
    margin-top: 60px;
    width: 98%;

    @media (max-width: 768px) {
        display: none;
    }
}

.titlepadrao {
    font-weight: 600;
    position: relative;
    color: #231f20;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 40px;

    @media (max-width: 768px) {
        font-size: 25px;
        width: 50%;
    }

    .linkMais {
        position: absolute;
        font-weight: normal;
        bottom: 50%;
        right: 15px;
        transform: translateY(50%);
        display: block;
        color: #d7a110;
        font-weight: 600;
        text-decoration: none;
        font-size: 16px;

        @media (max-width: 768px) {
            float: right;
            width: 78%;
            bottom: 60%;
            display: none;
        }
    }

    .titleadrao a {
        text-decoration: none;
    }
}

.linkMaistime {
    position: absolute;
    font-weight: normal;
    bottom: 92%;
    right: 10px;
    transform: translateY(50%);
    display: block;
    color: #d7a110;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;

    @media (max-width: 768px) {
        right: 575px;
        bottom: 377px;
    }

    svg {
        width: 18px;
        height: 18px;
        fill: #d7a110;
        margin-bottom: 2px;
        vertical-align: middle;
    }
}

.titlepadraocotacao {
    font-weight: 600;
    position: relative;
    color: #231f20;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: -50px;

    @media (max-width: 768px) {
        margin-top: 0px;
    }


}

.linkMais svg {
    width: 18px;
    height: 18px;
    fill: #d7a110;
    margin-bottom: 2px;
    vertical-align: middle;
}

.newstext {
    text-transform: uppercase;
    font-weight: normal;
    color: #d7a110;
    font-size: 14px;
    line-height: 16px;
}

.beniraimg {
    width: 100%;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}

.beniratext {
    font-weight: 600;
    color: #231f20;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;

    @media (max-width: 768px) {
        width: 70%;
        font-size: 20px;
    }
}

.linkMaismobile {
    display: none;

    @media (max-width: 768px) {

        width: 100%;
        display: flex;
        color: #d7a110;
        margin-left: 140px;
        font-size: 16px;
        padding-top: 20px;

        svg {
            width: 25px;
            height: 18px;
            fill: #d7a110;
            margin-bottom: 2px;
            vertical-align: middle;
        }
    }
}

.listsemfoto {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: -20px;

    @media (max-width: 768px) {
        margin: 20px -15px;
    }

    li {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        margin-left: 15px;

    }

    svg {
        height: 16px;
        width: 16px;
        fill: #d7a110;
        margin-right: 10px;
    }

    .listext {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;
        margin: 0px;

        @media (max-width: 768px) {
            width: 71%;
        }
    }
}

.listsemfoto2 {
    list-style: none;
    margin: 0px;
    padding: 0px;

    @media (max-width: 768px) {
        margin: 20px -15px;
    }

    li {
        margin-bottom: 0px;
        display: flex;
        align-items: flex-start;
        margin-left: 15px;

    }

    svg {
        height: 16px;
        width: 16px;
        fill: #d7a110;
        margin-right: 10px;
    }

    .listext {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;
        margin: 0px;

        @media (max-width: 768px) {
            width: 71%;
        }
    }
}

.texthomegridfull {
    margin-top: 3px;
    color: #231f20;
    font-size: 17px;

    @media (max-width: 768px) {
        width: 325px;
    }

}

.limaster {

    @media (max-width: 768px) {
        width: 31%;
        padding: 0 0px;
        display: inline-block;
        text-align: left;
        box-sizing: border-box;
        vertical-align: top;
        margin-bottom: 30px;
        margin-left: 12px;
    }

    p {
        color: #939393;
        font-size: 1em;
        margin-bottom: 20px;
        font-family: 'open_sanslight';
    }


    li,
    ul {
        margin-left: 0px;
    }
}

#Layer_2 {
    height: 20px;
    width: 30px;
    fill: #d7a110;
    margin-right: 10px;
}


.noticiaLink {
    text-decoration: none;
    position: relative;
    width: 100%;
    vertical-align: top;

    @media (max-width: 768px) {
        display: flex;

    }

    picture {
        margin-bottom: 10px;

        @media (max-width: 768px) {
            margin-bottom: 0px;
        }
    }
}

.lazy {
    width: 100%;
    display: block;
    border-radius: 6px;
    margin-bottom: 7px;

    @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.culturamobile {
    width: 100%;
    display: block;
    border-radius: 6px;
    margin-bottom: 7px;

    @media (max-width: 768px) {
        width: 385px;
        height: 200px;
        object-fit: cover;
        margin-left: -5px;
    }
}

.lazytitulo {
    color: #d7a110;
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;

    @media (max-width: 768px) {
        margin-left: 10px;
    }
}

.lazytext {
    font-weight: 600;
    color: #231f20;
    width: 100%;
    font-size: 17px;
    line-height: 20px;
    margin: 0px;

    @media (max-width: 768px) {
        margin-left: 10px;
        font-size: 18px;
    }

}

.hamburger {
    display: none;

    @media (max-width: 768px) {
        display: block;
        font-size: 16px;
        float: left;
        cursor: pointer;
        color: rgb(33, 142, 225);
        margin: 11px;
        transition: transform 0.5s ease-in-out;
        display: none;
    }
}

.flexa {
    display: none;

    @media (max-width: 768px) {
        left: 0px;
        display: flex;
        position: absolute;
        top: 8px;
        width: 20px;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
}

.proximaflexa {
    display: none;

    @media (max-width: 768px) {
        display: none;
        right: -4px;
        display: flex;
        position: absolute;
        top: 7px;
        width: 20px;
        justify-content: center;
        align-items: center;
        z-index: 2
    }
}

.imggtopomobile {
    display: none;

    @media (max-width: 768px) {}
}

.borderfolha1 {
    border-bottom: 1px solid #dee0e6;
    padding: 200px;
    margin: 50px 10px;
    width: 845px;

    @media (max-width: 768px) {
        display: none;
    }
}

.borderclassificacao1 {
    border-bottom: 1px solid #dee0e6;
    padding: 130px;
    margin: 50px 10px;
    width: 985px;

    @media (max-width: 768px) {
        display: none;
    }
}

.borderclassificacao2 {
    border-top: 1px solid #dee0e6;
    margin: 50px 9px;
    width: 1249px;

    @media (max-width: 768px) {
        display: none;
    }
}

.borderfolha2 {
    border-top: 1px solid #dee0e6;
    margin: 50px 9px;
    width: 1249px;

    @media (max-width: 768px) {
        display: none;
    }
}

.blogfolhatextnoticia {
    margin-top: 10px;

    @media (max-width: 768px) {
        margin-left: 10px;
    }
}

.bannerblog {
    img {
        width: 100%;
    }
}

.cotacao {
    border: 1px solid #dee0e6;
    border-radius: 6px;
    margin-left: 950px;
    margin-right: 20px;
    height: 250px;

    @media (max-width: 768px) {
        margin-left: 0px;
        height: 260px;
        margin-top: 510px;
        margin-right: 0px;
    }

    ul {
        list-style: none;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 30px;

        li {
            width: 100%;
            margin-bottom: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 1px solid #dee0e6;
        }

        span {
            color: #34343e;
            text-transform: none;
            font-size: 16px;
        }

        small {
            font-weight: 900;
            color: #231f20;
        }
    }
}





.squarebanner {
    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 768px) {
        img {
            margin-left: 40px;
            margin-top: 45px;
            width: 300px;
        }
    }

}

.bilboabanner {
    margin-left: 100px;
    padding-top: 15px;

    @media (max-width: 768px) {
        display: none;
    }

    img {
        width: 90%;
    }
}

.borderbanner1 {
    border-bottom: 1px solid #dee0e6;
    width: 98%;
    margin-top: 60px;

    @media (max-width: 768px) {
        display: none;
    }
}

.borderbanner2 {
    border-bottom: 1px solid #dee0e6;
    width: 98%;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        display: none;
    }
}

#google_image_div {
    z-index: 999 !important;
    height: 100px;
    position: absolute;
    width: 300px;
    margin-left: 140px;
    margin-top: -95px
}

.topointensporte {
    width: 301px;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    border: 1px solid #dee0e6;



    @media (max-width: 768px) {
        width: 391px;
        height: 50px;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px 6px 0 0;
        border: 1px solid #dee0e6;
    }
}

.topointensporte .abaEsporte {
    max-width: 180px;
    text-decoration: none;
    font-weight: bold;
    color: #231f20;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;

    .logotime {
        margin-bottom: 0px;
        padding: 10px;
    }
}

.imgtime {
    border-radius: 0 0 6px 6px;

    @media (max-width: 768px) {
        width: 391px;
        margin-right: 0;
        margin-bottom: 10px;
        max-width: unset;
        height: auto;
        max-height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.texttime {

    small {
        color: #d7a110;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;

        @media (max-width: 768px) {
            width: 40%;
        }

    }
}

#brasileirao {
    width: 160px;
    height: auto;

    @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.display {
    display: inline-flex;
    margin-bottom: 10px;
}

.videosimg {
    display: flex;

    @media (max-width: 768px) {
        display: block;
    }

}

.textbrasileirao {
    margin: 0px;
    margin-left: 15px;

    @media (max-width: 768px) {
        margin-left: 10px;
    }

    h3 {
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    span {
        font-size: 14px;
    }
}

.classificacao {
    border: 1px solid #dee0e6;
    border-radius: 6px;
    padding: 5px 20px 20px;
    margin-top: 10px;
    margin-left: -4px;
    margin-right: 7px;

    @media (max-width: 768px) {
        border: 1px solid #dee0e6;
        border-radius: 6px;
        padding: 5px 20px 20px;
        margin: 0px;
    }

    h2 {


        @media (max-width: 768px) {
            margin-right: 180px;
        }
    }

    select {
        border: 1px solid #dee0e6;
        border-radius: 6px;
        background: #f3f5f9;
        width: 100%;
        height: 35px;
        color: #34343e;
        font-size: 12px;
        outline: none;

        @media (max-width: 768px) {
            border: 1px solid #dee0e6;
            border-radius: 6px;
            background: #f3f5f9;
            width: 100%;
            height: 35px;
            color: #34343e;
            outline: none;
        }
    }
}




.bannerclassificacao {
    width: 300px;
    height: 250px;
    overflow: hidden;
    padding-top: 20px;

    @media (max-width: 768px) {
        margin-left: 45px;
        margin-top: 45px;
        width: 300px;
    }
}

.container_16 .grid_12 {
    @media (max-width: 768px) {
        .grid_4 {
            display: flex;
            width: 100%;
        }
    }
}

.dvcolunistas {
    margin-left: 0px;
    width: 400px;
    margin: 0 10px 20px;

    @media (max-width: 768px) {
        margin: 0 10px 10px;
        height: 160px;
    }

    .colunistas {
        width: 140px;
        height: 180px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 0;
        margin-right: 10px;

        @media (max-width: 768px) {
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
    }

    .noticiacolunistas {
        position: relative;
        width: 100%;
        vertical-align: top;
        display: flex;
        margin-left: -15px;
    }

    .logocoluna {
        font-weight: 700;
        color: #231f20;
        text-transform: uppercase;
        padding: 0;
        font-size: 22px;
    }

    h3 {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;
        margin-top: 20px;

        @media (max-width: 768px) {
            width: 70%;
        }
    }
}

.gridcolunistas {
    display: flex;
    align-items: space-between;
    flex-flow: row wrap;

    @media (max-width: 768px) {
        display: unset;
    }
}

.lazycarrosel {
    width: 77px;
    border-radius: 170px;
}

.playerColunistas {
    display: flex;
    width: 301px;
}

.colunistasPlayer {
    margin-left: 10px;

    small {
        font-weight: normal;
        text-transform: uppercase;
        color: #d7a110;
        display: block;
        font-size: 14px;
    }

    h3 {
        color: #231f20;
        font-weight: 600;
        font-size: 16px;
    }
}

.carrosel {
    display: flex;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;

    @media (max-width: 768px) {
        margin-bottom: 0px;
        margin-top: 50px;
    }
}




.swiperslide {
    width: 300px;
    margin-right: 20px;

    @media (max-width: 768px) {
        width: 300px;
        margin-right: 325px
    }
}

.controll {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        justify-content: unset;
        margin-left: 155px;
    }

    .left {
        width: 26px;
        height: 26px;
        fill: #231f20;
        margin: 5px;
    }

    .leftcontroll {
        display: block;
        width: 36px;
        height: 36px;
        background: #f7d637;
        left: auto;
        z-index: 5;
        border-radius: 100%;
        margin-right: 10px;
        cursor: pointer;
    }

    .right {
        width: 26px;
        height: 26px;
        fill: #231f20;
        margin: 5px;
    }

    .rightcontroll {
        display: block;
        width: 36px;
        height: 36px;
        background: #f7d637;
        left: auto;
        z-index: 5;
        border-radius: 100%;
        cursor: pointer;
    }
}

.bordercarrosel1 {
    border-top: solid 1px #dee0e6;
    margin-left: 10px;
    width: 98%;

    @media (max-width: 768px) {
        display: none;
    }
}

.bordercarrosel2 {
    border-bottom: 1px solid #dee0e6;
    padding-bottom: 50px;
    margin-left: 10px;
    width: 100%;

    @media (max-width: 768px) {
        display: none;
    }
}



.overflowhidden {
    overflow: hidden;
}

.textcultura {
    small {
        color: #d7a110;
        width: 100%;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;

        @media (max-width: 768px) {
            width: 40%;
        }
    }
}

.imgcultura {

    width: 35%;
    height: auto;
}

.culturatext {
    margin-left: 10px;
    margin-top: 15px;
}

.bannercultura {
    margin-bottom: 15px;


    @media (max-width: 768px) {

        img {
            width: 300px;
            height: 250px;
            margin-top: 20px;
            margin-left: 40px;
        }
    }
}

.imgcinema {
    margin-bottom: 10px;

    @media (max-width: 768px) {
        display: none;
    }
}

.imgcinemamobile {
    display: none;

    @media (max-width: 768px) {
        display: block;

    }

    img {
        @media (max-width: 768px) {
            width: 300px;
            height: 100px;
            margin-left: 10px;
        }
    }
}

#culturaimg {
    width: 160px;
    height: 105px;




    @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.mobilecultura {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}

.saboresimg {
    width: 300px;
    height: 197px;

    @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.textsabores {
    width: 95%;

    @media (max-width: 768px) {
        margin-left: 10px;
    }


    small {
        color: #d7a110;
        width: 100%;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;
        margin: 0px;

        @media (max-width: 768px) {
            font-size: 16px;
            width: 250px;
        }
    }
}

.folhaPlay {
    width: 210px;
    height: 75px;
}

.imgimtem {
    position: relative;
    margin-right: 0;
    margin-bottom: 0px;
    margin-right: 20px;

    @media (max-width: 768px) {
        display: flex;
        margin-bottom: 10px;
    }

    .iconeVideo {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 72px;
        height: 72px;
        fill: #fff;

        @media (max-width: 768px) {
            width: 42px;
            height: 42px;
            top: 45%;
            left: 14%;
        }
    }

    .lazyvideos {
        width: 300px;
        height: 180px;

        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
}

.folhavideos {


    @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}


.textitem {
    margin-left: 5px;


    @media (max-width: 768px) {
        margin-left: 10px;
    }

    small {
        color: #d7a110;
        width: 100%;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        color: #231f20;
        width: 100%;
        font-size: 18px;

        @media (max-width: 768px) {
            width: 270px;
            font-size: 17px;
            ;
        }
    }
}

.podcastlogos {
    display: flex;
}

.homegridfull {

    @media (max-width: 768px) {
        margin-left: 5px;
    }

}

.logoRadio {
    width: 40%;
    max-width: 219px;
    max-height: 85px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        width: 65%;
        margin-left: -15px;
        margin-bottom: 20px;
    }
}

.titlepadrao .logoRadio .st1 {
    fill: #fcd331;
}

.titlepadrao .logoRadio .st0 {
    fill: #fcc132;
}

.titlepadrao .logoRadio .st0 {
    fill: #fcc132;
}

.titlepadrao .logoRadio .st2 {
    fill: #fae52c;
}

.folhaimg {
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: 768px) {
        display: flex;
        margin-left: 5px;
    }

}


.oucaradio {
    border: 1px solid #dee0e6;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 20px;
    width: 316px;
    margin-left: 0px;
    padding: 20px 20px;
    height: 70px;
    padding-top: 25px;

    @media (max-width: 768px) {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        margin: 20px -55px;
        margin-left: 10px;
        width: 370px;
    }
}


.btRadio {
    padding: 8px 20px 8px 10px;
    color: #231f20;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
    background: #f7d637;
    border-radius: 6px;

    @media (max-width: 768px) {
        padding: 5px 20px 5px 10px;
    }

    svg {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.linkProgramacao {
    font-weight: 600;
    color: #d7a110;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 14px;
}

.podcastonline {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 10px;

    @media (max-width: 768px) {
        margin-left: -250px;
        display: block;
        margin-top: 80px;
    }


    .logoPodcasts {
        height: 80px;
        width: auto;
        max-width: 220px;
        margin-top: 5px;
    }

    .logospotify {
        width: 166px;
        height: 50px;
        margin-top: 5px;
    }

    .deezerlogo {
        width: 166px;
        height: 50px
    }

    .soundlogo {
        width: 166px;
        height: 50px
    }

    ul {
        list-style: none;
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
    }

    li {
        margin-right: 35px;
    }
}

.podcastonline svg.logoPodcasts .st0 {
    fill: #f9e52b;
}

.podcastonline svg.logoPodcasts .st2 {
    fill: #231f20;
}

.podcastonline svg.logoPodcasts .st3 {
    fill: #fcc031;
}

.podcastonline svg.logoPodcasts .st0 {
    fill: #f9e52b;
}

.podcastonline svg.logoPodcasts .st1 {
    fill: #fbd22f;
}

.menumobilehamburger {
    display: none;

    @media (max-width: 768px) {
        background-color: white;
        position: absolute;
        left: 0;
        top: 42px;
        z-index: 100;
        width: 309px;
        height: 360px;
        --tw-shadow: 0 16px 32px rgba(0, 0, 0, .24);
        --tw-shadow-colored: 0 4px 8px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        content: var(--tw-content);
    }

    ul {
        list-style: none;
        display: block;
        text-align: center;
    }

    li {
        margin-bottom: 10px;
        font-weight: 600;
        color: #333333;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

.inputbuscar {
    position: absolute;
    width: 0px;
    height: 35px;
    padding: 5px 0px;
    border-radius: 4px;
    z-index: 50;
    background-color: white;
    transition: 1s;
    border: 0;
    border: 1px solid white;
}

.formbusca:hover>.inputbuscar {
    width: 200px;
    padding: 5px 10px;
    border: solid 1px #dee0e6;
    box-shadow: 0 0 5px 2px #fae52c;
    border: 0;
}

.inputbuscar:focus {
    border: solid 1px #dee0e6;
    outline: none;
    box-shadow: 0 0 5px 2px #fae52c;
}

.minilupa {
    position: absolute;
    z-index: 50;
    //background-color: #333333;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border: 0;
    transition: 10s;
    display: none;
}


.formbusca:hover>.buscalupa {
    transform: translateX(150px);
    z-index: 100;
}

.buscalupa {
    transition: 1s;
    z-index: 100;
    position: relative;
}

.formbusca:hover>.minilupa {
    display: block;
    left: 170px;
    width: 50px;
    height: 45px;
    border: 0;
    transition-delay: 5s;
}

.mainmenu {
    position: absolute;
    top: -20px;
    left: -85px;
    height: 100%;
    z-index: 999;

    nav {
        position: fixed;
        top: -10px;
        left: 0%;
        width: 20%;
        height: 100%;
        background: #FFF;
        z-index: 999;
        text-align: left;
        padding: 30px 40px 54px;
        overflow-y: auto;
        transition: 0.3s;
    }
}

.menuprincipal {

    @media (max-width: 768px) {
        display: none;
    }


    ul {
        list-style: none;
    }

    li {
        margin: 20px -45px;
        border-top: solid 1px #dee0e6;
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px;
        width: 275px;
    }

    .close {
        border: 0;
    }

    .dropdown {
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    .submenu {
        padding: 0px;

        ul {
            border-bottom: 1px solid #dee0e6;
            padding-bottom: 30px;
            width: 85%;
        }

        li {
            padding: 0px 20px;
            font-size: 16px;
            border: none;
            font-weight: 100;

        }
    }
}

.menuIcon {
    width: 55px;
    height: 45px;
    border: 1px solid #dee0e6;
    margin-left: -45px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}